#access-screen{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.712);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.access-box{
  background: rgb(211, 197, 197);
  padding: 25px 35px;
  border-radius: 15px;
  text-align: center;
  color:#00134d;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.623);
}

#access-input{
  padding: 10px;
  width: 220px;
  border-radius: 10px;
  border: 2px solid #002b6f;
  outline: none;
}

#access-btn{
  margin-top: 12px;
  padding: 10px 25px;
  border-radius: 12px;
  border: none;
  background:#002b6f;
  color:white;
  cursor:pointer;
}

#access-error{
  color:red;
  height: 18px;
  margin-top: 5px;
  font-size: 0.9rem;
}
