.click-hint {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(31, 3, 3);
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 0 0 8px rgba(255,255,255,0.8);
  opacity: 0;
  animation: hintPulse 2s infinite ease-in-out;
  pointer-events: none;
}

.hide-hint {
  animation: none !important;
  opacity: 0;
  transform: translateX(-50%) translateY(-10px) scale(0.9);
  transition: opacity .6s ease, transform .6s ease;
}


@keyframes hintPulse {
  0%   { opacity: 0; transform: translateX(-50%) scale(0.9); }
  50%  { opacity: 1; transform: translateX(-50%) scale(1.05); }
  100% { opacity: 0; transform: translateX(-50%) scale(0.9); }
}
