.snow{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  overflow:hidden;
  z-index: 1000;
}

.snow span{
  position:absolute;
  top:-10px;
  width:8px;
  height:8px;
  background: white;
  border-radius:50%;
  filter: drop-shadow(0 0 8px white);
  opacity: .9;
  animation: fall linear infinite;
}

@keyframes fall{
  0%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(110vh);
  }
}
